#childInfoTableContainer {
    margin-top: 10px; /* Adjust as needed */
    padding: 10px;
    color:black;
    background-color: white;
    border-radius: 10px;
}

#taskInput {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
}

#taskList {
    list-style-type: none;
    padding: 0;
}

.taskItem {
    display: flex;
    align-items: center;
    margin: 8px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.taskItem input[type="checkbox"] {
    margin-right: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
}

#childInfoPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#childInfoContainer {
    top: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#childName,
#childAge,
#childGender {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

#closePopup {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#clockContainer {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

#analogClock {
    width: 200px;
    height: 200px;
    border: 2px solid #333;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    background: url('../images/clockface.jpg') center center; 
    background-size: cover;
}

/* .overlay {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%; /* Adjust this value to control the starting point of the overlay */
    /* background-color: rgba(120, 37, 37, 0.5); /* Adjust the alpha value for transparency */
    /* clip-path: polygon(50% 50%, 100% 50%, 100% 0, 50% 0, 50% 50%, 0 50%, 0 100%, 50% 100%) ellipse(50% 50% at 50% 50%); */

/* } */

.hand {
    position: absolute;
    background-color: #333;
    transform-origin: 50% 100%;
    /* transform: rotate(90deg); */
    /* transition: transform 0.5s cubic-bezier(0.4, 2.8, 0.3, 1); */
  }

#hourHand {
height: 40px;
width: 6px;
top: 60px;
left: 100px;
}
#minuteHand {
    height: 60px;
    width: 4px;
    top: 40px;
    left: 100px;
}
#secondHand {
    height: 70px;
    width: 2px;
    top: 30px;
    left: 100px
}

#digitalClock {
    font-size: 20px;
    margin-top: 10px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.child-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px; /* Adjust as needed */
    /* Add other styling properties */
}
.child-name button{
    max-width: 22px;
    max-height: 22px;
    justify-content: center;
    align-items: center;
}
.collection-item{
    margin: 4px;
    padding: 6px;
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;

}

.collection-item label{
    color: black;

}
.collection-item li{
    border: 1px solid black;
}